In [1]:
import pandas as pd

In [4]:
df_tracking = pd.read_csv("./tracking.csv", index_col=0)

In [5]:
df_tracking

                        oof_score
0122_1142_42-e001        0.701099
0122_1148_34-e001        0.700757
0122_1150_20-e001        0.700150
test                     0.785397
0122_1216_01-e001        0.700150
test-0122_1244_43-e001   0.713163
0122_1251_12-e002        0.715477
0122_1309_26-e002        0.714938